<div class="breadcrumb-section breadcrumb-bg1">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p>Class And Luxury</p>
          <h1>Create Service</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- check out section -->
<div class="checkout-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <div class="checkout-accordion-wrap">
          <div class="accordion" id="accordionExample">
            <div class="card single-accordion">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Create
                  </button>
                </h5>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="billing-address-form">
                    <form [formGroup]="serviceDto" (ngSubmit)="createService()">
                      <p><input type="text" placeholder="Service id" formControlName="id"></p>
                      <p class="text-danger"
                         *ngIf="serviceDto.get('id').hasError('required') && submitted">
                        Service id must not blank.
                      </p>

                      <p><input type="text" placeholder="Service Name" formControlName="serviceName"></p>
                      <p class="text-danger"
                         *ngIf="serviceDto.get('serviceName').hasError('required') && submitted">
                        Service name must not blank.
                      </p>

                      <p><input type="text" placeholder="Service Area" formControlName="serviceArea"></p>
                      <p class="text-danger"
                         *ngIf="serviceDto.get('serviceArea').hasError('required') && submitted">
                        Service area must not blank.
                      </p>

                      <p><input type="text" placeholder="Max People" formControlName="maximumPeople"></p>
                      <p class="text-danger"
                         *ngIf="serviceDto.get('maximumPeople').hasError('required') && submitted">
                        Max people must not blank.
                      </p>

                      <p><input type="text" placeholder="Standard Room" formControlName="standardRoom"></p>
                      <p class="text-danger"
                         *ngIf="serviceDto.get('standardRoom').hasError('required') && submitted">
                        Standard must not blank.
                      </p>

                      <p><input type="text" placeholder="Description Convenient" formControlName="descriptionConvenient"></p>
                      <p class="text-danger"
                         *ngIf="serviceDto.get('descriptionConvenient').hasError('required') && submitted">
                        Description convenient must not blank.
                      </p>

                      <p><input type="text" placeholder="Pool Area" formControlName="poolArea"></p>
                      <p class="text-danger"
                         *ngIf="serviceDto.get('poolArea').hasError('required') && submitted">
                        Pool area must not blank.
                      </p>

                      <p><input type="text" placeholder="Number Of Floor" formControlName="numberOfFloor"></p>
                      <p class="text-danger"
                         *ngIf="serviceDto.get('numberOfFloor').hasError('required') && submitted">
                        Number of floor must not blank.
                      </p>

<!--                      <p>-->
<!--                        <select class="select-option-custom" formControlName="attachService">-->
<!--                          <option selected>Gender</option>-->
<!--                          <option value="1">Male</option>-->
<!--                        </select>-->
<!--                      </p>-->
<!--                      <p class="text-danger"-->
<!--                         *ngIf="serviceDto.get('id').hasError('required') && submitted">-->
<!--                        Customer id must not blank.-->
<!--                      </p>-->

                      <p>
                        <select class="select-option-custom" formControlName="rentType">
                          <option value="" selected disabled>Rent Type</option>
                          <option *ngFor="let rentType of rentTypeList" [ngValue]="rentType">{{rentType.rentTypeName}}</option>
                        </select>
                      </p>
                      <p class="text-danger"
                         *ngIf="serviceDto.get('rentType').hasError('required') && submitted">
                        Please choose rent type!
                      </p>

                      <p>
                        <select class="select-option-custom" formControlName="serviceType">
                          <option value="" selected disabled>Service Type</option>
                          <option *ngFor="let serviceType of serviceTypeList" [ngValue]="serviceType">{{serviceType.serviceTypeName}}</option>
                        </select>
                      </p>
                      <p class="text-danger"
                         *ngIf="serviceDto.get('serviceType').hasError('required') && submitted">
                        Please choose service type!
                      </p>

                      <button type="submit" class="btn btn-success">Create</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2">
      </div>
    </div>
  </div>
</div>
<!-- end check out section -->
